* {
  font-family: "Protest Riot", sans-serif;
}

.row {
  margin: 0px !important;
  padding: 0px !important;
}

.navbar-brand,
.nav-link {
  font-family: "Protest Riot", sans-serif !important;
}

.decorative-div {
  position: relative;
}

.decorative-div {
  position: relative;
  width: 100% !important;
  height: 100vh;
  background-image: url('../images/indian-hindu-temple-singapore.jpg');
  background-size: cover;
  background-position: center;

}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -40%);
  text-align: center;
  color: white;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

.decorative-div .content {
  animation-delay: 0.8s;
}

.decorative-div h2 {
  color: #007bff;
  font-size: 90px;
  margin-bottom: 60px;
}

.decorative-div p {
  font-size: 30px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 100px;
  height: auto;
  animation: fadeIn 1.5s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .decorative-div h2 {
    font-size: 7vw; /* Adjusted font size for smaller screens */
    margin-bottom: 3vh; /* Adjusted margin for smaller screens */
  }

  .decorative-div p {
    font-size: 4vw; /* Adjusted font size for smaller screens */
    margin-bottom: 3vh; /* Adjusted margin for smaller screens */
  }
  .logo {
    top: 7%;
    left: 7%;
    width: 25%;
    max-width: 80px; 
  }
}

@media (max-width: 576px) {
  .content {
    width: 90%; /* Adjusted width for smaller screens */
    left: 50%;
    transform: translate(-50%, -40%); /* Adjusted positioning for smaller screens */
    background-color: hsl(208, 46%, 83%,0.7);
    padding: 20px;
  }
  .decorative-div h2 {
    color:#0b344b;
    font-size: 8vw; /* Further adjusted font size for smaller screens */
    margin-bottom: 3vh; /* Further adjusted margin for smaller screens */
  }

  .decorative-div p {
    font-size: 4vw; /* Further adjusted font size for smaller screens */
    margin-bottom: 3vh; /* Further adjusted margin for smaller screens */
  }

  .logo {
    top: 7%;
    left: 7%;
    width: 25%;
    /* max-width: 80px;  */
  }
}

@media (max-width: 320px) {
  .decorative-div h2 {
    font-size: 10vw; /* Further adjusted font size for very small screens */
    margin-bottom: 2vh; /* Further adjusted margin for very small screens */
  }

  .decorative-div p {
    font-size: 6vw; /* Further adjusted font size for very small screens */
    margin-bottom: 2vh; /* Further adjusted margin for very small screens */
  }

  .logo {
    top: 10%;
    left: 10%;
    width: 30%;
    max-width: 60px; /* Further adjusted maximum width for very small screens */
  }
}


#places_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
}

#places_carousel {
  max-width: 65%;
}

#places_carousel_back img {
  width: 100% !important;
}

#places_carousel_back img {
  filter: brightness(30%) blur(4px);
}

#places_carousel_back {
  position: absolute;
}

#places_carousel .carousel-item:hover {
  cursor: pointer;
}


.carousel-caption h5 {
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  backdrop-filter: blur(10px) brightness(95%);
  width: max-content;
  margin: auto;
}

@media (max-width: 320px) {
  .decorative-div {
    padding-bottom: 10px !important;
  }
}

@media (max-width: 578px) {
  .decorative-div h2 {
    font-size: 50px;
  }

  .decorative-div p {
    font-size: 25px;
  }

  .decorative-div {
    padding: 150px 60px 100px 60px;
  }

  #places_carousel {
    max-width: 55%;
  }

  .carousel-caption h5 {
    font-size: 13px !important;
  }

  .carousel-indicators button {
    margin-bottom: -15px !important;
  }
}

@media (max-width: 768px) {
  .decorative-div {
    padding: 150px 60px 100px 60px;
  }

  #places_carousel {
    max-width: 60%;
  }

  .carousel-caption h5 {
    font-size: 20px !important;
  }

  .carousel-indicators button {
    margin-bottom: -10px !important;
  }
}

@media (max-width: 945px) {
  #places_outer {
    margin-top: -90px !important;
  }
}


.div-image {
  width: 500px;
  height: 100%;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 10;
  width: 95%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.distributionDiv .image-container h1 {
  display: none;
  margin-left: 25%;
}

.distributionDiv {
  margin: 200px auto !important;
}

.distributionDiv div:hover {
  cursor: pointer;
}

.states{
  background: url(../images/rest-sunshine-atoll-bungalow-holiday.jpg) no-repeat;
  background-size:cover;
  background-position-x: 40%;
  padding-top: 20px;
}
.state-cards {
  /* background: url(../images/rest-sunshine-atoll-bungalow-holiday.jpg) no-repeat;
  background-size:cover;
  background-position-x: 40%; */
  width: 100%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.states h2{
  color:white;
  padding-bottom: 30px;
}

.state-cards .card-container {
  max-width: 700px;
}

.card-body{
  background-color: #CEDEE1;
  transition: background-color 0.3s;
}
.card-body:hover {
  background-color: #a1c2b6; /* Background color on hover */
}


.card-body .btn{
  border: 2px solid black;
  width: 200px;
  max-width: 200px;
}

.card-body .btn:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}


.card-title{
  font-size: 40px;
}

@media (max-width: 768px) {
  .card {
    flex-basis: 45%; /* Adjust width of cards for smaller screens */
  }
}

@media (max-width: 576px) {
  .card {
    flex-basis: 100%; /* Full width on extra small screens */
  }
}


@media (max-width:1200px) {
  .overlay {
    width: 93%;
  }
}

@media (max-width:990px) {
  .overlay {
    width: 90%;
  }

  .distributionDiv {
    margin: 80px auto !important;
  }
}

@media (max-width:768px) {
  .overlay {
    display: none;
  }

  .image {
    margin-bottom: 20px;
    max-width: 300px
  }

  .distributionDiv .image-container h1 {
    display: inline;
  }

  .distributionDiv {
    margin: 40px auto !important;
  }
}

@media (max-width:330px) {
  .distributionDiv .image-container h1 {
    font-size: 25px !important;
  }
}

@media (max-width:270px) {
  .distributionDiv .image-container h1 {
    font-size: 20px !important;
  }
}